/*
 * Licensed to Marvelution under one or more contributor license 
 * agreements.  See the NOTICE file distributed with this work 
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/

#sonarTabPanel {
	margin: 10px 8px;
	width: 99%;
}

.center-div {
	width: 100%;
	text-align: center;
}

.column {
	width: 49%;
	margin-right: .5%;
	min-height: 300px;
	background: #FFF;
	float: left;
}

.column .dragbox {
	margin: 5px 2px 20px;
	background: #FFF;
	position: relative;
	border: 1px solid #BBB;
}

.column .dragbox h3 {
	font-size: 100%;
	padding: 5px;
	cursor: inherit;
	background-color: #369;
	color: #FFF;
	margin: 0 0 0.5em;
}

.column .dragbox .menu {
	background: transparent;
	color: #369;
	display: none;
	position: absolute;
	right: 12px;
	top: 3px;
}

.column .dragbox .menu ul li {
	float: left;
	list-style-type: none;
}

.column .dragbox .menu ul li.i-move {
	background-position: 0px 0px;
	margin: 3px 0px 0px 0px;
	width: 13px;
}

.dragbox-content {
	background: #FFF;
	min-height: 100px;
	margin: 2px;
}

.dragbox-content iframe {
	width: 99%;
	overflow: hidden;
}

.column .placeholder {
	background: #DDD;
	border: 2px dashed #BBB;
}

.gadgetDetailsDialog {
	border: 2px white;
	color: #000;
	float: left;
	font-size: 0.9em;
	margin: 0px;
	overflow: hidden hidden;
	padding: 0px 20px 0px 132px;
	width: 480px;
}

.gadgetDetailsDialog img {
	border: 1px solid rgb(153, 153, 153);
	float: left;
	margin: 10px 15px 0px -132px;
}

.gadgetDetailsDialog h3 {
	color: #036;
	font-weight: bold;
	font-size: 1.4em;
	white-space: nowrap;
}

.gadgetDetailsDialog a {
	font-size: 0.9em;
}

.gadgetDetailsDialog p {
	color: #000;
	font-weight: normal;
}
